# Base
django
djangorestframework
django-cors-headers
python-dotenv
requests
gunicorn
whitenoise

# Scraper
selenium
webdriver-manager

# Intelligence (Hyper-Simplified for Cloud)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
sentence-transformers

# Database
chromadb
